.singin{
    height: 38.5rem;
    width: 83rem;
    background-position: center;
    background-size: cover;
    background-image: url("https://t4.ftcdn.net/jpg/05/91/84/29/360_F_591842937_ptXTrDjkCdG21JhOmaEzyZ7ZJyAhVuQP.jpg")
    

}
.profile{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/011/847/small/paper-cut-luxury-gold-background-with-metal-texture-3d-abstract-for-gift-card-poster-on-wall-poster-template-landing-page-ui-ux-cover-book-banner-free-vector.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 630px;
    padding-top: 30px;
    
}
@media(max-width:800px) and (min-width:350px){
    .singin{
        height: 1200px;
    

    }
}
